@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
}

body {
    margin: 0;
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--slate-300);
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.card {
    background-color: var(--white);
    border-radius: 15px;
    padding: 1rem;
    max-width: 24rem;
    margin: 1rem;
}
.card__qrcode {
    width: 100%;
    border-radius: 15px;
}

.card__title {
    color: var(--slate-900);
    font-weight: 700;
    text-align: center;
}

.card__description {
    color: var(--slate-500);
    text-align: center;
}